@tailwind base;
@tailwind components;
@tailwind utilities;

/*
foreground: black
background: bg-neutral-100
*/
:root {
  --foreground-rgb: 0, 0, 0;
  --background-color-rgb: 255, 255, 255;
}
/*
foreground: white
background: bg-neutral-900
*/
@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-color-rgb: 23, 23, 23;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-color-rgb));
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.indigo-focus-outline {
  @apply focus-visible:outline focus-visible:outline-2 focus-visible:outline-indigo-700 dark:focus-visible:outline-indigo-500;
}

.gray-outline-indigo-focus-outline {
  @apply outline outline-2 outline-gray-900/5 focus-visible:outline-indigo-700 dark:focus-visible:outline-indigo-500;
}
